# 1. 모듈 불러오기

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%cd /content/drive/MyDrive/단위프로젝트_1조/EDA

/content/drive/MyDrive/단위프로젝트_1조/EDA

In [3]:
pip install pyproj

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyproj
  Downloading pyproj-3.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.7/7.7 MB 84.3 MB/s eta 0:00:00
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from pyproj) (2022.12.7)
Installing collected packages: pyproj
Successfully installed pyproj-3.5.0

In [4]:
pip install geopandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.13.0-py3-none-any.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 36.1 MB/s eta 0:00:00
Collecting fiona>=1.8.19 (from geopandas)
  Downloading Fiona-1.9.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.0/16.0 MB 56.8 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from geopandas) (23.1)
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from geopandas) (1.5.3)
Requirement already satisfied: pyproj>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from geopandas) (3.5.0)
Requirement already satisfied: shapely>=1.7.1 in /usr/local/lib/python3.10/dist-packages (from geopandas) (2.0.1)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (23.1.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (2022.12.7)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (8.1.3)
Collecting click-plugins>=1.0 (from fiona>=1.8.19->geopandas)
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting cligj>=0.5 (from fiona>=1.8.19->geopandas)
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting munch>=2.3.2 (from fiona>=1.8.19->geopandas)
  Downloading munch-3.0.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (1.22.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from munch>=2.3.2->fiona>=1.8.19->geopandas) (1.16.0)
Installing collected packages: munch, cligj, click-plugins, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.9.3 geopandas-0.13.0 munch-3.0.0

In [5]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf
!apt install fonts-nanum

!sudo apt install font-manager
!rm -rf ~/.cache/matplotlib
!pip install koreanize-matplotlib

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")
import folium
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
from datetime import datetime
import matplotlib.dates as md
from matplotlib import rc
import koreanize_matplotlib
from datetime import datetime
import matplotlib.dates as md
from pyproj import Transformer
import geopandas as gpd
import os

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 24 not upgraded.
Need to get 9,599 kB of archives.
After this operation, 29.6 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu focal/universe amd64 fonts-nanum all 20180306-3 [9,599 kB]
Fetched 9,599 kB in 6s (1,550 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 122519 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20180306-3_all.deb ...
Unpacking fonts-nanum (20180306-3) ...
Setting up fonts-nanum (20180306-3) ...
Processing triggers for fontconfig (2.13.1-2ubuntu3) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/usr/share/fonts/truetype: skipping, looped directory detected
/usr/share/fonts/truetype/humor-sans: skipping, looped directory detected
/usr/share/fonts/truetype/liberation: skipping, looped directory detected
/usr/share/fonts/truetype/nanum: skipping, looped directory detected
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded
Reading package lists... Done
Building dependency tree
Reading state information... Done
fonts-nanum is already the newest version (20180306-3).
0 upgraded, 0 newly installed, 0 to remove and 24 not upgraded.
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  font-manager-common font-viewer
Suggested packages:
  file-roller nautilus-font-manager nemo-font-manager yelp
The following NEW packages will be installed:
  font-manager font-manager-common font-viewer
0 upgraded, 3 newly installed, 0 to remove and 24 not upgraded.
Need to get 1,740 kB of archives.
After this operation, 9,394 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu focal/universe amd64 font-manager-common amd64 0.7.7-0.3 [1,545 kB]
Get:2 http://archive.ubuntu.com/ubuntu focal/universe amd64 font-viewer amd64 0.7.7-0.3 [27.9 kB]
Get:3 http://archive.ubuntu.com/ubuntu focal/universe amd64 font-manager amd64 0.7.7-0.3 [168 kB]
Fetched 1,740 kB in 7s (239 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 3.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package font-manager-common:amd64.
(Reading database ... 122538 files and directories currently installed.)
Preparing to unpack .../font-manager-common_0.7.7-0.3_amd64.deb ...
Unpacking font-manager-common:amd64 (0.7.7-0.3) ...
Selecting previously unselected package font-viewer.
Preparing to unpack .../font-viewer_0.7.7-0.3_amd64.deb ...
Unpacking font-viewer (0.7.7-0.3) ...
Selecting previously unselected package font-manager.
Preparing to unpack .../font-manager_0.7.7-0.3_amd64.deb ...
Unpacking font-manager (0.7.7-0.3) ...
Setting up font-manager-common:amd64 (0.7.7-0.3) ...
Setting up font-viewer (0.7.7-0.3) ...
Processing triggers for mime-support (3.64ubuntu1) ...
Processing triggers for libglib2.0-0:amd64 (2.64.6-1~ubuntu20.04.4) ...
Processing triggers for libc-bin (2.31-0ubuntu9.9) ...
Processing triggers for man-db (2.9.1-1) ...
Setting up font-manager (0.7.7-0.3) ...
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting koreanize-matplotlib
  Downloading koreanize_matplotlib-0.1.1-py3-none-any.whl (7.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.9/7.9 MB 58.9 MB/s eta 0:00:00
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from koreanize-matplotlib) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib->koreanize-matplotlib) (1.16.0)
Installing collected packages: koreanize-matplotlib
Successfully installed koreanize-matplotlib-0.1.1

#2. 데이터 불러오기

In [14]:
df1 = pd.read_csv('/content/drive/MyDrive/단위프로젝트_1조/공통전처리/직장인구(공통데이터).csv')
df2 = pd.read_csv('/content/drive/MyDrive/단위프로젝트_1조/공통전처리/상주인구(공통데이터).csv')
df3 = pd.read_csv('/content/drive/MyDrive/단위프로젝트_1조/공통전처리/생활인구(공통데이터).csv')

## 2.1. 구별로 저장(영등포구만)

In [15]:
sgg = '영등포구'                     # sgg 에 구명 대입 
dfs = [df1, df2, df3]   # 각 데이터 프레임들 넣고
n = ['직장인구(공통데이터).csv','상주인구(공통데이터).csv','생활인구(공통데이터).csv']  # 파일이름
f = '/content/drive/MyDrive/단위프로젝트_1조/공통전처리'   # 폴더 경로

for df, filename in zip(dfs, n):   #  dfs 와 n을  df , filename 대입 
    sgg_df = df[df['시군구명'] == sgg]  # 시군구명에 구명 넣고
    new = os.path.join(f, filename.replace('.csv', f'_{sgg}.csv'))  #  파일 이름에 해당 구를 추가하고 폴더 경로와 합해서 새로운 파일 경로를 생성하고 new 대입
    sgg_df.to_csv(new, index=False) #  /content/drive/MyDrive/상권분석/(상권-OOOO)_주소추가_마포구.csv 로 저장

## 2.2. 분기별로 저장(4분기만)

In [17]:
ydf1 = pd.read_csv('/content/drive/MyDrive/단위프로젝트_1조/공통전처리/직장인구(공통데이터)_영등포구.csv')
ydf2 = pd.read_csv('/content/drive/MyDrive/단위프로젝트_1조/공통전처리/상주인구(공통데이터)_영등포구.csv')
ydf3 = pd.read_csv('/content/drive/MyDrive/단위프로젝트_1조/공통전처리/생활인구(공통데이터)_영등포구.csv')

In [18]:
bg = 4                    
dfs = [ydf1, ydf2, ydf3]
n = ['직장인구(공통데이터)_영등포구.csv','상주인구(공통데이터)_영등포구.csv','생활인구(공통데이터)_영등포구.csv']
f = '/content/drive/MyDrive/단위프로젝트_1조/공통전처리'

for df, filename in zip(dfs, n):
    bg_df = df[df['기준_분기_코드'] == bg]
    new = os.path.join(f, filename.replace('.csv', f'_{bg}.csv'))
    bg_df.to_csv(new, index=False)

# 3. 데이터 확인 및 전처리

## 3.1. 파일 용량 줄이기

In [19]:
ydf1 = pd.read_csv('/content/drive/MyDrive/단위프로젝트_1조/공통전처리/직장인구(공통데이터)_영등포구_4.csv')
ydf2 = pd.read_csv('/content/drive/MyDrive/단위프로젝트_1조/공통전처리/상주인구(공통데이터)_영등포구_4.csv')
ydf3 = pd.read_csv('/content/drive/MyDrive/단위프로젝트_1조/공통전처리/생활인구(공통데이터)_영등포구_4.csv')

In [20]:
# 파일 용량 줄이기 위해 데이터타입 int32이하로 변경

dfs = [ydf1,ydf2, ydf3]

for df in dfs:
    for col in df.select_dtypes(include='int64').columns:
        if not df[col].isna().any():
            try:
                if df[col].max() <= 255:
                    df[col] = df[col].astype('Int8')
                elif df[col].max() <= 65535:
                    df[col] = df[col].astype('Int16')
                elif df[col].max() <= 4294967295:
                    df[col] = df[col].astype('Int32')
            except TypeError:
                pass

## 3.2. 컬럼명 통일

In [34]:
ydf1.rename(columns={'기준_년월_코드':'기준_년_코드'}, inplace=True)
ydf1.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '총_직장_인구_수', '남성_직장_인구_수', '여성_직장_인구_수', '연령대_10_직장_인구_수',
       '연령대_20_직장_인구_수', '연령대_30_직장_인구_수', '연령대_40_직장_인구_수', '연령대_50_직장_인구_수',
       '연령대_60_이상_직장_인구_수', '남성연령대_10_직장_인구_수', '남성연령대_20_직장_인구_수',
       '남성연령대_30_직장_인구_수', '남성연령대_40_직장_인구_수', '남성연령대_50_직장_인구_수',
       '남성연령대_60_이상_직장_인구_수', '여성연령대_10_직장_인구_수', '여성연령대_20_직장_인구_수',
       '여성연령대_30_직장_인구_수', '여성연령대_40_직장_인구_수', '여성연령대_50_직장_인구_수',
       '여성연령대_60_이상_직장_인구_수', '행정동_코드', '시군구명', '읍면동명', 'lon', 'lat'],
      dtype='object')

In [35]:
# 2022년 4분기만 남기기 위해 2022로 필터링
ydf1_2022 = ydf1[ydf1['기준_년_코드']==2022]
ydf2_2022 = ydf2[ydf2['기준_년_코드']==2022]
ydf3_2022 = ydf3[ydf3['기준_년_코드']==2022]

In [37]:
ydf1_ch = ydf1_2022[['읍면동명','상권_코드_명','총_직장_인구_수']]
ydf1_ch

      읍면동명       상권_코드_명  총_직장_인구_수
0    신길제1동          대신시장         12
6     영등포동   영등포시장기계공구상가        158
12   신길제3동          신동시장          2
18    영등포동       영등포전통시장         45
24    영등포동    영신상가(제일상가)          9
..     ...           ...        ...
516  양평제2동       선유도역 6번       1792
522    문래동  문래예술촌(문래창작촌)       4221
528    문래동         문래소공원        296
534  양평제1동        양평역 2번       1501
540  양평제1동         문래중학교        275

[91 rows x 3 columns]

In [43]:
ydf1_ch = ydf1_ch.pivot_table(values='총_직장_인구_수', index='읍면동명', aggfunc = 'sum').sort_values('총_직장_인구_수', ascending = False)
ydf1_ch

       총_직장_인구_수
읍면동명
여의동       108022
문래동        12755
영등포동       12078
당산제1동       9922
당산제2동       6852
양평제1동       6848
대림제3동       5800
양평제2동       5703
도림동         3895
신길제1동       3454
대림제2동       2812
신길제5동        987
신길제6동        967
신길제7동        959
대림제1동        803
신길제3동        706
영등포본동        614
신길제4동        381

## 3.3. 여의동만 저장

In [49]:
ydf2_2022.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '총 상주인구 수',
       '남성 상주인구 수', '여성 상주인구 수', '연령대 10 상주인구 수', '연령대 20 상주인구 수',
       '연령대 30 상주인구 수', '연령대 40 상주인구 수', '연령대 50 상주인구 수', '연령대 60 이상 상주인구 수',
       '남성연령대 10 상주인구 수', '남성연령대 20 상주인구 수', '남성연령대 30 상주인구 수',
       '남성연령대 40 상주인구 수', '남성연령대 50 상주인구 수', '남성연령대 60 이상 상주인구 수',
       '여성연령대 10 상주인구 수', '여성연령대 20 상주인구 수', '여성연령대 30 상주인구 수',
       '여성연령대 40 상주인구 수', '여성연령대 50 상주인구 수', '여성연령대 60 이상 상주인구 수', '총 가구 수',
       '아파트 가구 수', '비 아파트 가구 수', '상권 코드 명', '행정동_코드', '시군구명', '읍면동명', 'lon',
       'lat'],
      dtype='object')

In [50]:
ydf1_ch = ydf1_2022[['읍면동명','상권_코드_명','총_직장_인구_수']]
ydf2_ch = ydf2_2022[['읍면동명','상권 코드 명','총 상주인구 수']]
ydf3_ch = ydf3_2022[['읍면동명','상권_코드_명','총_생활인구_수']]

In [57]:
ydf1_yud = ydf1_ch[ydf1_ch['읍면동명']=='여의동']
yudjj = ydf1_yud.sort_values(by='총_직장_인구_수',ascending=False)
yudjj

    읍면동명        상권_코드_명  총_직장_인구_수
102  여의동      여의도역(여의도)      69255
108  여의동  국회의사당역(국회의사당)      31135
96   여의동           63빌딩       7632

In [65]:
jj = yudjj['총_직장_인구_수'].sum()

In [59]:
ydf2_yud = ydf2_ch[ydf2_ch['읍면동명']=='여의동']
yudsj = ydf2_yud.sort_values(by='총 상주인구 수',ascending=False)
yudsj

    읍면동명        상권 코드 명  총 상주인구 수
102  여의동      여의도역(여의도)      2805
108  여의동  국회의사당역(국회의사당)      2445
96   여의동           63빌딩       312

In [66]:
sj = yudsj['총 상주인구 수'].sum()

In [60]:
ydf3_yud = ydf3_ch[ydf3_ch['읍면동명']=='여의동']
yudsh = ydf3_yud.sort_values(by='총_생활인구_수',ascending=False)
yudsh

    읍면동명        상권_코드_명  총_생활인구_수
132  여의동      여의도역(여의도)   1696105
138  여의동  국회의사당역(국회의사당)    483456
126  여의동           63빌딩     61943

In [67]:
sh = yudsh['총_생활인구_수'].sum()

In [68]:
jj/(jj+sj+sh)

0.045867500492550596

## 3.4. 영등포동만 저장

In [69]:
ydf1_ydp = ydf1_ch[ydf1_ch['읍면동명']=='영등포동']
ydpjj = ydf1_ydp.sort_values(by='총_직장_인구_수',ascending=False)
ydpjj

     읍면동명        상권_코드_명  총_직장_인구_수
114  영등포동         한강성심병원       5045
120  영등포동      영등포역(영등포)       3856
126  영등포동            영중로       2015
378  영등포동      영등포시장역 1번        292
282  영등포동         영등포동성당        227
6    영등포동    영등포시장기계공구상가        158
384  영등포동      영등포시장역 4번        127
246  영등포동         신길역 3번        102
306  영등포동    한림대학교한강성심병원         87
252  영등포동  서울시립영등포장애인복지관         76
18   영등포동        영등포전통시장         45
348  영등포동      영등포시장역 3번         28
36   영등포동           동남상가         10
24   영등포동     영신상가(제일상가)          9
30   영등포동    삼구시장(로타리상가)          1

In [76]:
jj = ydpjj['총_직장_인구_수'].sum()
jj

12078

In [71]:
ydf2_ydp = ydf2_ch[ydf2_ch['읍면동명']=='영등포동']
ydpsj = ydf2_ydp.sort_values(by='총 상주인구 수',ascending=False)
ydpsj

     읍면동명        상권 코드 명  총 상주인구 수
120  영등포동      영등포역(영등포)      4753
114  영등포동         한강성심병원      2439
240  영등포동         신길역 3번      2234
126  영등포동            영중로      1588
306  영등포동    한림대학교한강성심병원      1264
18   영등포동        영등포전통시장      1053
282  영등포동         영등포동성당       838
384  영등포동      영등포시장역 1번       772
390  영등포동      영등포시장역 4번       763
6    영등포동    영등포시장기계공구상가       591
354  영등포동      영등포시장역 3번       345
42   영등포동           동남상가       150
246  영등포동  서울시립영등포장애인복지관        48
30   영등포동     영신상가(제일상가)        45
36   영등포동    삼구시장(로타리상가)         8
24   영등포동          남서울상가         2

In [77]:
sj = ydpsj['총 상주인구 수'].sum()
sj

16893

In [73]:
ydf3_ydp = ydf3_ch[ydf3_ch['읍면동명']=='영등포동']
ydpsh = ydf3_ydp.sort_values(by='총_생활인구_수',ascending=False)
ydpsh

     읍면동명        상권_코드_명  총_생활인구_수
150  영등포동      영등포역(영등포)   3203369
156  영등포동            영중로   1307835
144  영등포동         한강성심병원    451389
24   영등포동        영등포전통시장    404351
276  영등포동         신길역 3번    401255
420  영등포동      영등포시장역 1번    272986
12   영등포동    영등포시장기계공구상가    188364
426  영등포동      영등포시장역 4번    154567
342  영등포동    한림대학교한강성심병원     93138
390  영등포동      영등포시장역 3번     88622
318  영등포동         영등포동성당     84979
42   영등포동   영등포로타리지하도상점가     55963
48   영등포동    영등포시장지하도상점가     48601
60   영등포동           동남상가     36488
54   영등포동    삼구시장(로타리상가)     35305
36   영등포동     영신상가(제일상가)     35305
282  영등포동  서울시립영등포장애인복지관     35183
30   영등포동          남서울상가     32941

In [78]:
sh = ydpsh['총_생활인구_수'].sum()
sh

6930641

In [79]:
sh/(jj+sj+sh)

0.9958372679396496